#nav{
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    left: -5px;
    top: 10px;
    justify-content: space-around;
}
body{
    font-family: saks;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#logo{
    position: fixed;
    left: 360px;
}
#nav img{
    position: fixed;
    top: -5px;
    left: 680px;
}
#nav button{
    background: none;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
#navcart{
    position: fixed;
    left: 1300px;
    border: 1px solid rgba(188, 188, 188, 0.382);
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(188, 188, 188, 0.382);
    transition: all 0.2s ease-in-out;
}
/* #navcart svg:hover{
    width: 24px;
    height: 24px;
}
#cart-count{
    display: none;
    position: fixed;
    left: 1380px;
    top: 22px;
    font-size: 25px;

} */
.left{
 transition: all 0.2s ease-in-out;
 transform-origin: right;
}
.left:hover{
    transform: scale(2);
    margin-left: 80px;
    
}
.right{
 transition: all 0.2s ease-in-out;
 transform-origin: left;
}
.right:hover{
    transform: scale(2);
    margin-right: 80px;
}
#navcontent{
    position: fixed;
    left: 20px;
    border: 1px solid rgba(188, 188, 188, 0.382);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.115);
    justify-content: center;
}
@font-face {
    font-family: saks;
    src: url(../font/SF-Pro.ttf);
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.58);
    padding: 5px 0;
}
#whatever{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}